body{
	background-image: url("fire_bkg.jpg");
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
html{
	height:100%;
}
p{
	text-align: center;
	font-family: 'Francois One', sans-serif;
	font-size: 25px;
	color:orange;
	text-shadow:2px 2px #000000;
}
.row{
	padding: 5px;
}
/*.rob-block{
	background-color: rgba(0,0,0,0.4);
}*/

.btn-dark{
	color:orange;
	font-family: 'Francois One', sans-serif;
}
.btn-dark:hover{
	color: black;
	background-color: orange;
}
